
$font-base: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
$font-caption: "Josefin Slab","Helvetica Neue", Helvetica, sans-serif;
$font-size-base: 20px;



$bg-slider: rgba(255,255,255,0.6);
$bg-navbar: rgba(0,0,0,0.6);
$bg-catalog-item: rgba(39,39,37,0.4);

$leter-spacing: 3px;

$c-white: black;
$c-link-nav: rgba(255,255,255,0.7);
$c-link-nav-hover:#fff;

$c-link: rgba(249,244,56,0.8);
$c-link-hover: rgba(249,244,56,1);
$c-border-h1: 1px solid rgba(167, 2, 0, 0.9);

$c-red: rgba(167, 2, 0, 0.9);

$t-shadow: 1px 1px 0 #484646;