extend _template.jade

block title 
	title Бизнес подарки
block content
	h1 Бизнес подарки
	p
		| У деловых людей периодически возникает необходимость сделать подарки партнерам по бизнесу. И тут встает вопрос – как сделать это грамотно, чтобы подарок выглядел солидным и презентабельным, 
		img.img-responsive.img-left(src='img/buisness/buisness.jpg')
		| но при этом не слишком вычурным, а сам акт дарения не был воспринят как взятка или подкуп?
	p
		| В таком случае, идеальным решением может стать интернет-магазин, который специально заточен под то, чтобы подобрать деловые подарки.
		|  Чтобы избежать банальностей и штампов, но при этом сделать оригинальные и эффектные подарки партнерам, вы можете подобрать в нашем магазине бизнес-подарков 
		|такие презенты, которые подойдут как для мужчин, так и для женщин.
	h2 Чайные наборы
	img.img-responsive.img-right(src='img/buisness/tea.jpg')
	p
		| В последние годы в России все больше набирает популярность увлечение элитными сортами чая, различными разновидностями пуэра и китайскими чайными церемониями. В нашем магазине вы можете заказать то, что будет необходимо для проведения таких чайных церемоний. Чайные наборы в качестве подарков для бизнес-партнеров будут идеальны, независимо от пола. И даже если человек, которому вы делаете такой подарок не был близко знаком с чайной культурой, такой подарок наверняка вызовет в нем интерес и подарит новые впечатления. Помимо своих прекрасных вкусовых качеств, элитные чаи, которые славятся своим натуральным составом, благотворно влияют на состояние здоровья – они не только придают энергию всему организму, но и нормализуют кровяное давление, способствуют улучшению работы почек и кровообращения, а ряд китайских зеленых чаев даже славится своим выраженным омолаживающим эффектом. У нас вы можете самостоятельно подобрать сорта чая и включить их в чайный набор, адаптировав подарок под ваши финансовые возможности.
	h2 Корзины с шоколадом
	p
		| Бельгийский шоколад обладает поистине королевскими вкусовыми качествами, а изящная плетеная корзина в качестве упаковки придаст еще больше шарма вашему подарку. Белый, черный или молочный - шоколад европейского качества нечасто можно встретить на прилавках магазинов, поэтому, чтобы не тратить время на поиски шоколада в торговых центрах, вы можете сразу же заказать его на нашем сайте. Кроме того, шоколад специально упакован в красивую подарочную корзину, ведь это создает дополнительную праздничную атмосферу.
	h2 Вино
	p
		| Вино различных редких сортов, которое вы можете купить сразу собранное в одном ящике – Это ли не идеальное дополнение для любой корпоративной вечеринки? Кроме того, оно также прекрасно подойдет для банкета после заключения удачной деловой сделки. Отметьте успех фирмы с размахом, ведь лучший способ поднять командный дух и мотивацию к новым свершениям – это угостить своих коллег и сотрудников изысканными винами. Возможность посмаковать тонкий аромат вина станет заслуженной наградой и поспособствует возникновению приподнятого праздничного настроения. Среди нашего ассортимента вы сможете выбрать вина на любой вкус – игристые и «фриццианте» (искристые), розовые, крепленые, ароматизированные или обогащенные натуральной сладостью, а также те, которые считаются тихими и спокойными напитками.Если вы сомневаетесь в выборе, понимаете, что сами не сможете выбрать именно то вино, то вам нужен сомелье. У нас работает опытный сомелье, который с удовольствием свяжется с вами по телефону или же через e-mail. Он расскажет, какие вина сейчас популярны, какие предпочитают женщины и мужчины или же, только по описанию человека и его привычек поймет, что ему больше всего понарвится.
	h2 Импортное пиво
	img.img-responsive.img-left(src='img/buisness/bear.jpg')
	p
		| Импортное пиво из стран ведущих производителей, таких как Германия, Бельгия, Чехия и Англии- и все это бережно собрано в стандартных бутылочках по 0,5 и 1 литру сразу в одной подарочной коробке. Это станет идеальным решением для деловой встречи в неформальной обстановке. Если вы угостите партнеров по бизнесу высококлассным пивом, то они непременно оценят подобный широкий жест. Непринужденная беседа за бутылочкой пива высокого качества поможет найти общий язык с деловым партнерам, наладить отношения и заключить взаимовыгодную сделку.