extend _template.jade

block title 
	title Доставка
block content
	h1 Доставка
	h2 По Санкт-Петербургу:
	h3.font-bold  1. Самовывоз
	p
		| Самостоятельно можно забрать товар по адресy: ДЦ «Елизаровский» м. Елизаровская, Елизарова, 38А.
	h3.font-bold  2. Курьер
	p
		| Доставляем заказы по городу собственной курьерской службой. Срок доставки - в течение следующего дня, после оформления заказа, при условии, что товар есть на складе. Стоимость услуги в этом случае составляет 300 рублей. Бесплатно по городу доставляем заказы на сумму более 5 тысяч рублей. Сроки поставки согласовывайте с менеджерами.
	h3.font-bold  3. Служба PickPoint
	p
		| Постамат похож на камеру хранения сумок в супермаркете, только он:
	ul
		li устанавливается в торговых центрах;
		li автоматизированный;
		li открывается после оплаты заказа.
	p
		| В Санкт-Петербурге и ЛО работает 49 постаматов. Получить заказ в постамате можно до 22 часов, постамат на Таллинском шоссе работает круголосуточно.
	p
		| Оплачивайте заказ наличными деньгами или картой visa/mastercard. Важно: постамат в ТЦ Монпансье принимает только наличные.
	p
		| Код для получения заказа отправим на телефон в sms.
	h2 По России:
	p.font-bold
		| Внимание! При доставке по России, мы работаем только по предоплате.
	h3.font-bold  1. Служба DPD
	p
		| Транспортная компания DPD доставляет заказы во все регионы России. Получить посылку можно:
	ul
		li в пункте самовывоза DPD
		li курьером до двери.
	p
		| Стоимость и сроки доставки укажем при оформлении заказа. Цена зависит от веса товаров и пункта назначения и составляет от 300 до 600 рублей. Наши менеджеры свяжутся с вами и предоставят подробную информацию.
	p 
		a(href='http://dpd.ru/dpd/contacts.do2')
			|Посмотреть пункт выдачи DPD в вашем городе
	p 
		a(href='http://dpd.ru/ols/calc')
			|Посмотреть пункт выдачи DPD в вашем городе
	h3.font-bold  2. Служба PickPoint
	p
		| Получить товар можно в пункте выдачи заказов PickPoint. Вы оплачиваете товар и доставку - мы отправляем заказ в ближайший к вам постомат.
	p
		| Стоимость доставки зависит от габаритов, веса посылки, пункта назначения и составляет от 180 до 600 рублей. Наши менеджеры свяжутся с вами и помогут с выбором постомата в вашем городе.
	p 
		a(href='https://pickpoint.ru/postamats/')
			|Проверить возможность доставки службой PickPoint

	h3.font-bold  3. Другие способы доставки
	p
		| Доставить заказ можно другими способами. Стоимость услуги рассчитываем по тарифам выбранной транспортной компании. Мы сотрудничаем с «Деловыми Линиями», но организовать поставку можно с помощью других компаний. Доставку до терминала транспортной компании вам придется оплатить отдельно. Стоимость такой услуги - 300 рублей. Однако для заказов на сумму более 5 тысяч рублей доставляем к терминалу бесплатно.
	p
		| Получить товар в вашем городе можно:
	ol
		li Самовывозом со склада в терминальной точке транспортной компании,
		li Курьером по городу до вашего подъезда. Этот вариант чуть дороже, чем самовывоз.
