extend _template.jade

block title 
	title Подарки женщинам
block content
	h1 Подарки женщинам
	img.img-responsive.img-right(src='img/women/1.jpg')
	p
		| Часто бывает, что вы не можете подобрать подарок другому человеку, особенно если вы недостаточно близко знакомы, чтобы иметь представление о его личных предпочтениях и интересах. Особенно трудно бывает подобрать грамотный подарок женщине, чтобы точно угодить ее вкусу, и ни в коем случае не оскорбить и не обидеть своим подарком. Ведь одна будет рада красочному сервизу и качественной сковородке, а другая сочтет это оскорбительным намеком на то, что ее место на кухне. Если же дарить женщине, казалось бы, типично-женские атрибуты – украшения и косметику, то всегда можно ошибиться со стилем, и в итоге одариваемая будет не рада, а только разочарована в расхожести ваших вкусов. Всегда существует вариант подарить сертификат на определенную сумму в тот или иной магазин, однако такой подарок зачастую выглядит слишком безликим, да и необходимость самому выбирать себе подарок лишает эффекта удивления и неожиданности.
	img.img-responsive.img-left(src='img/women/2.jpg')
	p
		| Если вы мужчина и хотите подарить дорогой подарок женщине
		|, не спешите бежать за бриллиантами – она может понять вас превратно или ее принципы просто не позволяет ей принять такой подарок. Выбирать дорогие подарки для женщины
		|  – дело тонкое, и к нему стоит подходить с умом, учитывая все негласные правила этикета, связанные с этим. Так, например, считается не самой хорошей идеей дарить женщинам часы, столовые приборы (особенно ножи), предметы женского гардероба (если вы в этом совсем не разбираетесь и недостаточно близки с тем, кому вы будете это дарить). Кроме того, не стоит спешить приобретать весы или абонементы в фитнес-клуб для своей женщины, даже если ваш друг/сосед подарил своей жене точно такой же, и она была в полном восторге. Любые намеки на то, что женщине стоило бы сбросить пару килограмм или привести себя в надлежащую форму могут смертельно оскорбить женщину, и вместо восторгов и благодарностей вы получите только жгучую обиду. Это же относится и ко всяческим сертификатам в салоны красоты, а также таким излюбленным широкими массами подарочным косметическим наборам – неважно, содержат ли они набор элитных антивозрастных кремов, или стандартный набор состоящий из шампуней и геля для душа, такой подарок тоже помимо своей безликости может иметь двойственное значение в глазах женщины.
	p
		| Так что же тогда дарить, чтобы точно не попасть впросак? – можете спросить вы.
	p
		| И у нас есть ответ на ваш вопрос. На сайте нашего интернет-магазина вы сможете найти идеальное решение своей проблемы, а также убить двух зайцев сразу – не только подобрать элитный подарок женщине
		|  по приемлемой цене, но и по-настоящему ее удивить своей оригинальностью и нестандартным мышлением.
	p
		| В нашем-интернет магазине представлен широкий ассортимент чайных наборов, ассорти бельгийского шоколада, упакованного в специальные праздничные подарочные корзины, а также есть ящики разносортья дорогих вин и импортного элитного пива. И даже если наборы алкогольных напитков могут по вашему мнению не подойти в качестве индивидуального подарка именно для женщины, то вы все же должны согласиться с тем, что они станут красочным дополнением к любой праздничной вечеринке. Ведь хозяйка застолья сможет угостить всех гостей абсолютно разными сортами дорогих напитков, что может стать своеобразной частью развлекательной программы на празднике. Что же касается набора чаев и корзин с бельгийским шоколадов – это однозначно беспроигрышный вариант vip подарков для женщин, ведь они как правило обладают более тонким чувствам и более взыскательны к вкусовым удовольствиям. Поэтому редкие ароматные сорта чая и насыщенный вкус бельгийского шоколада (который считается одним из лучших) как нельзя лучше подойдут, чтобы впечатлить женщину, будь то ваша сестра, мама, жена или даже начальница, а кроме того эти два подарка могут быть комбинированы. Ведь что может быть лучше чаепития со сладким или терпким шоколадом!