extend _template.jade

block title 
	title Подарок руководителю
block content
	h1 Подарок руководителю
	p
		| Когда мы дарим подарки близким людям, у нас обычно не возникает больших проблем с тем, чтобы узнать предварительно о том, что они хотели бы получить на тот или иной праздник. К тому же, в 21 веке стало модно создавать так называемые «виш-листы», где указывается список того, что человек был бы рад получить в подарок, а что дарить категорически не стоит. Кроме того, при близком общении в разговоре может проскользнуть та или иная полезная информация о том, чего хочет ваш близкий человек, но сам ни за что не стал бы себе покупать по каким-либо причинам (они могут быть как финансовые, так и психологические). 
	p
		| Однако, когда вам нужно подобрать подарок своему руководителю, все эти хитрости могут быть недоступны. Во-первых, не так часто в рабочее время у подчиненных может возникнуть возможность на короткой ноге пообщаться со своим начальником и выведать у него то, о чем он давно и тайно мечтает. А во-вторых, многие считают, что корпоративная культура вообще не должна включать себя наличие каких-либо личных бесед, не касающихся работы между руководителями и подчиненными. Что касается наличия виш-листов, то такие списки для руководителя составлять и обнародовать было бы как минимум нескромно, а как максимум - это могло бы походить на ожидание откровенной взятки. 
	p
		| Так, что же подарить в таком случае, когда вы действительно не знаете, что подобрать в качестве презента, чтобы это пришлось по душе вашему начальнику? Не важно, дарите вы подарок лично от себя или от коллектива, на нашем сайте вы сможете 
		strong
			|  купить подарок руководителю. 
		|  Действительно хороший подарок.
	p
		| Итак, мы приготовили для вас несколько беспроигрышных вариантов 
		strong
			| подарка руководителю:
	ul
		li.content-list.
			Корзины с бельгийским шоколадом. Этот подарок универсален. Он подойдет как для женщин, так и для мужчин. Представьте сами – вам дарят шоколад от ведущего производителя на мировом рынке – а ведь Бельгия считается страной, где изготавливается самые лучшие по своим вкусовым качествам шоколадные изделия – да еще и в красивой праздничной упаковке! При этом, любому руководителю легко будет понять, что это достаточно дорогой и эксклюзивный подарок, а, следовательно, вы достаточно высоко его цените, показывая это своим подношением. 
		li.content-list.
			Подарочные наборы чаев, содержащие внутри самые разные сорта. Пожалуй, еще более универсальный подарок, чем предыдущий. Ведь если у вашего руководителя может быть нелюбовь к сладкому или аллергия, то с чаями такое едва ли может случиться. К тому же, в нашей стране чай был и остается одним из самых популярных напитков. Даже самый ярый кофеман может пропустить чашечку другую чая, а иногда и вовсе забросить свои кофейные пристрастия. Ведь настоящие чаи (а вовсе не то, что продается в типовых коробках в магазинах), привезенные из-за границы не только обладают исключительными вкусовыми свойствами, но ярко выраженным тонизирующим эффектом.
		li.content-list.
			Наборы вин в специальных подарочных упаковках – нарядных ящиках. Такой подарок особенно подойдет, если вы решили поздравить своего начальника всем коллективом – несмотря на свою очевидную элитарность и подразумевающуюся под ней дорогостоимость подарка, такой презент точно не будет воспринят как взятка или подхалимство, ведь вы всегда можете преподнести такой подарок как небольшую праздничную дегустацию вин, и разделить подарок с коллегами.
		li.content-list.
			Наборы пива от производителей из разных стран. Также идут в красивых подарочных упаковках. Если вы решите, подарите своему руководителю качественный импортный алкоголь, то это один из лучших вариантов. Ведь пиво не такой уж крепкий напиток, а уж привезенное из-за рубежа пиво будет точно выгодно отличаться своими вкусовыми качествами от хмельных напитков российских производителей. И помните, что вы не просто дарите алкоголь, но возможность попробовать разные сорта и в дальнейшем стать знатоком качественных напитков своему боссу. Эта возможность уж точно заинтригует любого делового человека.

