extend _template.jade

block title 
	title Подарки мужчинам
block content
	h1 Подарки мужчинам
	img.img-responsive.img-right(src='img/men/1.jpg')
	p
		| На первый взгляд, может показаться, что подобрать необычный подарок для мужчины совсем непросто, однако достаточно попытаться проявить немного фантазии. Отличным помощником в поиске подходящего 
		strong
			|эксклюзивного подарка 
		|вам может послужить наш сайт. Если вы не хотите мелочиться, откупаясь банальными кружками или шариковыми ручками, и при этом ищете в меру 
		strong
			| дорогой подарок мужчине
		|, то добро пожаловать в наш интернет-магазин.
	p
		| На сайте нашего интернет-магазина вы сможете подобрать такой 
		strong
			|оригинальный подарок мужчине
		|, который надолго запомнится и вызовет массу новых впечатлений. Подарки, которые вы можете здесь найти, вполне универсальны – они одинаково подойдут как для того, чтобы поздравить именинника, так для более массовых празднеств, таких как День Защитника Отечества, День Рыбака, Моряка, ВДВшника и других профессиональных праздников, связанных с чисто мужскими профессиями. В любом случае, если вы совершите заказ на нашем сайте, мужчина не останется разочарованным. 
	p
		| Ассортимент, который вы можете найти у нас создан по принципу разнообразия – это и чайные наборы, которые составлены и чаев различных сортов, подарочные корзины с разными видами бельгийского шоколада – от горького и соленого до сладкого молочного –специально для тонких ценителей изысканных десертов и хорошего качества, а также разносортье алкогольных напитков – подарочные ящики вина и пива для дегустаций от лучших европейских производителей – идеальный вариант для тех, кто еще не нашел любимый сорт напитка или мечтает попробовать как можно больше различных сортов, чтобы составить собственную винотеку или найти среди качественных напитков именно тот сорт пива, который станет фаворитом в дальнейшем. Стоит отметить, что все подарочные наборы идут в эффектных нарядных упаковках, создающих ощущения праздника как у самого дарителя, так и у того, кто принимает подарок. 
	p
		| Наши подарочные наборы смело можно отнести к категории 
		strong
			|элитных подарков
		| для мужчин. Если выразиться точнее, они тянут на категорию 
		strong
			|vip-подарков мужчине.
	h2 Китайские чаи 
	p
		| В наших наборах собраны все лучшие сорта чая. Каким бы привередливым ни был ваш вкус, независимо от того – новичок ли вы,
		img.img-responsive.img-left(src='img/men/2.jpg')
		|  всю жизнь предпочитающий пакетированный чай с искусственными ароматизаторами  или заглушающий его вкус добавками в виде сахара, молока или лимона, или же искушенный гурман, не по наслышке знакомый с такими чаями как пуэр и молочный улун – вы не останетесь недовольны. 
	p
		| Чаи в наборах идеально подходят для проведения небольших чайный церемоний, а заварка такого чая в глиняном или стеклянном чайнике обогатит вкус горячего&nbsp;напитка.
	h2 Бельгийский шоколад 
	p
		| Бельгия издавна считается одной из лидирующих стран по качеству производства шоколадных изделий, поэтому мы решили сделать ее одним из своих поставщиков. Изысканный набор шоколада в красивой плетенной корзинке не только порадует желудок, но и глаз любому сладкоежке.
	h2 Наборы вина в ящиках
	p
		| Если ваш мужчина мечтал узнать на собственном опыте какие вкусовые ощущения испытывает настоящий сомелье, то набор вин, к примеру, из Австрии или Франции поможет осуществить ему эту мечту. В ящике собраны бутылки от лучших производителей, а само вино сделано из экзотических сортов винограда.
	h2 Подарочные ящики с пивом
	p
		| Пиво, как и вино издревле является одни из древнейших и любимейших напитков человечества. В настоящее время, многие страны достигли небывалых высот на поприще улучшения технологии его производства. Продукция всех лидирующих в этом деле компаний-производителей (из Германии, Чехии, Бельгии, Англии) собрана в наших подарочных ящиках, где каждая бутылка содержит в себе свой неповторимый вкус.
