extend _template.jade

block title 
	title О компании
block content
	h1 О компании
	p.text-center
		| Приветсвуем вас на сайте нашего интернет-магазина!
	img.img-responsive.img-left(src='img/vine.jpg')
	p
		| Мы молодая развивающая компания, ориентированная на интересы клиентов. Если говорить проще, то мы просто находчивые ребята из Питера, которые нашли способ делать поставки хорошей импортной продукции из-за границы. Поскольку мы не снимаем площадь в большущем торговом центре, то нам не нужно платить огромные деньги за его аренду, а также выплачивать оклад продавцам, которые весь день стояли бы за прилавком. У нас небольшой штат сотрудников, и скромный офис, находящийся не в исторической части города. Почему мы вам об этом рассказываем? Потому что все эти факторы непосредственно влияют на ценообразование продукции. Из-за всех вышеперечисленных причин, мы можем позволить себе делать совсем незначительную наценку на продукцию. А с помощью нашего интернет-магазина вы сможете 
		strong
			| купить необычные подарки
		| , уютно и с комфортом, то есть не бегая в поисках накануне праздника по торговым центрам и не переплачивая втридорога за не всегда свежую продукцию (ведь часто в дорогущих 
		strong
			| магазинах эксклюзивных подарков 
		| товары месяцами залеживаются на прилавках, пока не настанет крупная праздничная дата).
	p
		| И так, как вы уже поняли, тематика которую мы выбрали для своей фирмы – 
		strong
			| vip подарки
		|. И вот что наш 
		strong
			| магазин бизнес-подарков 
		| может вам предложить, если вы собираетесь 
		strong
			| купить дорогой подарок
		| с уютом и комфортом, не выходя из дома:
	img.img-responsive.img-right(src='img/2.jpg')
	ul
		li.content-list.
			Элитные вина разных сортов. У вас есть возможность заказать у нас подарочный набор вин ведущих производителей, сразу же оформленный в красивую подарочную упаковку. Такой подарок дает возможность не только побаловать себя и своих близких вкусным вином, но познакомиться с разными сортами, чтобы выбрать что-то на собственный вкус.
		li.content-list.
			Пиво из Бельгии, Англии, Германии и Чехии – также сразу собранное набором в подарочную упаковку для дегустации. Такой подарок придется по вкусу всем любителям получше разобраться в алкогольных напитках и понять разницу в производителях. К тому же, импортное пиво выгодно отличается от дешевой продукции, которая стоит на прилавках российских магазинов.
		li.content-list.
			Подарочные корзины с бельгийским шоколадом. Кроме того, что бельгийский шоколад считается лучшим среди всех – большая редкость и может встретиться в России разве что в специализированных магазинах с непомерной наценкой. Кроме того, наши корзины так красиво и оригинально оформлены, что станут наилучшим решением, если вы действительно захотите произвести «вау-эффект» на того, кому вы дарите подарок.
		li.content-list.
			Наборы китайских чаев. В наших наборах собраны чаи разных сортов, и это действительно настоящая натуральная чайная продукция, на которую в нашей стране действуют довольно большие наценки в специализированных магазинах. В наборе несколько разных сортов, и вы сами можете выбрать их количество. Чаи также продаются в подарочной упаковке.
	p
		| Кроме того, что наш 
		strong
			| интернет-магазин 
		| предлагает 
		strong
			| эксклюзивные подарки
		|, мы также адаптируем подарок под ваши финансовые возможности. Кроме того, если вам нужно что-то особенное, вы всегда можете связаться с нами через форму обратной связи и заказать это. В данный момент, наша доставка работает только в Москве и Санкт-Петербурге. У нас есть все необходимые сертификаты, подтверждающие качество нашей продукции.


