extend _template.jade

block title 
	title Оплата
block content
	h1 Как оплатить
	h2.h2-pay-page.nal При получении
	ul
		li Наличными при доставке товара на дом
		li Банковскими картами Visa/MasterCard или наличными в офисе
	h2.h2-pay-page.commerce Онлайн-покупка
	ul
		li Банковской картой Visa и MasterCard
		li Яндекс.Деньгами
	h2.h2-pay-page.money Безналичный расчет
	ul
		li Оплату по безналичному расчету принимаем для заказов от 5000 рублей