/* line 3, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
h1, h2, h3, h4, h5 {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, sans-serif; }

/* line 7, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
h1 {
  border-bottom: 1px solid rgba(167, 2, 0, 0.9);
  border-top: 1px solid rgba(167, 2, 0, 0.9);
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: center;
  padding: 15px 0 7px; }

/* line 17, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
h2 {
  font-size: 32px;
  border-bottom: 1px solid black;
  max-width: 350px;
  margin: 40px auto 20px;
  text-align: center; }

/* line 25, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
h3 {
  font-size: 26px;
  margin-top: 40px; }

/* line 30, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
a, a:hover {
  text-decoration: none; }

/* line 34, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
ul {
  margin-left: 30px; }

/* line 39, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
html {
  height: 100%; }

/* line 43, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
body {
  display: flex;
  flex-direction: column; }

/* line 48, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.font-bold {
  font-weight: bold; }

/* line 52, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
h2.h2-pay-page {
  border: none;
  max-width: 100%;
  text-align: left; }

/* line 58, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.h2-pay-page:before {
  content: "";
  display: block;
  float: left;
  height: 32px;
  margin-right: 15px;
  width: 32px; }

/* line 67, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.content-list {
  padding-bottom: 20px; }

/* line 71, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.nal:before {
  background: url("../img/nal.png") no-repeat; }

/* line 75, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.commerce:before {
  background: url("../img/commerce.png") no-repeat; }

/* line 79, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.money:before {
  background: url("../img/money.png") no-repeat; }

/* line 85, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.contacts-page-btn {
  float: right;
  margin: 20px 15px 0 0; }

/* line 90, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.contacts-page-input {
  max-width: 500px; }

/* line 94, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.contacts-page-list {
  clear: both;
  overflow: hidden; }
  /* line 98, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .contacts-page-list li {
    float: left;
    padding-right: 30px; }

/* line 106, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.eror-sign {
  color: red; }

/* line 110, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.page-wrapper {
  background: url(../img/bg-1.jpg) no-repeat center center fixed;
  background-color: #DCDCDC;
  background-size: cover;
  color: black;
  font: 20px "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  min-height: 100%;
  line-height: 1.6; }

/* line 120, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.header, .header .contacts-link {
  color: black;
  letter-spacing: 3px;
  max-width: 680px;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  /* line 129, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .header-top {
    clear: both;
    margin: 30px auto 0;
    max-width: 270px;
    overflow: hidden; }
  /* line 136, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .header-text {
    border-bottom: 1px solid #fff;
    font-size: 30px; }
  /* line 141, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .header-logo {
    float: left;
    width: 200px; }
  /* line 147, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .header .contacts {
    padding: 10px 28px 0;
    margin-bottom: 15px; }
    /* line 151, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
    .header .contacts ul {
      overflow: hidden; }
    /* line 155, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
    .header .contacts-list {
      float: left;
      font-size: 20px -1;
      padding: 0 20px; }
    /* line 161, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
    .header .contacts-link {
      color: rgba(249, 244, 56, 0.8); }
    /* line 166, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
    .header .contacts-link:hover {
      color: #f9f438; }

/* line 172, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.nav-custom {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-bottom: 1px solid rgba(167, 2, 0, 0.9);
  margin-bottom: 100px;
  min-height: 70px; }
  /* line 179, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .nav-custom li {
    padding-top: 30px;
    padding-bottom: 0; }
  /* line 185, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .nav-custom li a.nav-custom-link {
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 2px;
    transition-duration: 0.4s; }
  /* line 191, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .nav-custom li a.nav-custom-link:hover, .nav-custom ul.dropdown-submenu li a:hover {
    color: #fff;
    background-color: rgba(167, 2, 0, 0.9); }
  /* line 196, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .nav-custom .brand-custom {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    float: none;
    font-size: 24px;
    font-weight: 600; }
  /* line 203, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .nav-custom .brand-custom:before {
    content: "";
    background: url(../img/logo-pst-head.png) no-repeat;
    display: block;
    float: left;
    height: 38px;
    margin: -9px 10px 0 0;
    width: 43px; }

/* line 214, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.navbar-header {
  height: 83px; }

/* line 218, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.btn-nav-custom {
  margin-top: 27px; }

/* line 222, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.dropdown:hover .dropdown-menu {
  display: block; }

/* line 226, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
ul.dropdown-submenu li a {
  padding: 10px 10px 5px;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 2px; }

/* line 232, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
ul.dropdown-submenu li {
  padding: 0; }

/* line 236, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
ul.dropdown-submenu li:hover {
  background-color: rgba(167, 2, 0, 0.9); }

/* line 240, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.dropdown-submenu {
  margin: 0;
  width: 225px;
  background-color: rgba(0, 0, 0, 0.6); }

/* line 247, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.content {
  flex: 1 0 auto;
  margin: 30px 0 0;
  text-align: justify; }
  /* line 252, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .content p {
    text-indent: 40px; }

/* line 257, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.slider {
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 50px;
  padding: 40px 50px; }
  /* line 262, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .slider-img {
    margin: 0 auto; }
  /* line 266, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .slider-list {
    margin-left: 20px; }

/* line 271, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.item img {
  margin: 0 auto; }

/* line 275, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none; }

/* line 280, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.footer-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0 10px;
  clear: both;
  overflow: hidden; }

/* line 287, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.footer-section {
  color: rgba(255, 255, 255, 0.7);
  padding: 0 5px 5px; }

/* line 292, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.footer-copyright {
  font-size: 17px;
  padding-top: 10px 0; }

/* line 297, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
.footer-contacts {
  float: right; }
  /* line 301, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .footer-contacts .contacts-info {
    display: block; }
  /* line 305, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .footer-contacts .contacts-link-f {
    color: rgba(255, 255, 255, 0.7); }
    /* line 308, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
    .footer-contacts .contacts-link-f:hover {
      color: #fff; }

@media screen and (max-width: 992px) and (min-width: 768px) {
  /* line 320, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .nav-custom-link {
    font-size: 15px; }
  /* line 326, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .footer-contacts {
    float: none;
    text-align: center; }
  /* line 331, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .footer-copyright {
    padding: 0; }
  /* line 335, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .footer-item-logo {
    margin: 0 auto; } }

@media screen and (max-width: 768px) {
  /* line 343, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .nav-custom-list li {
    font-size: 14px;
    margin: 0;
    padding: 0; }
  /* line 349, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .nav-custom-contacts {
    float: none;
    text-align: center; }
  /* line 355, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .slider {
    padding: 20px; }
  /* line 361, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .footer-contacts {
    float: none;
    text-align: center; }
    /* line 365, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
    .footer-contacts a.contacts-link-f {
      font-size: 16px; }
  /* line 370, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .footer-item-logo {
    margin: 0 auto; }
  /* line 374, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .footer-section {
    padding: 0; }
  /* line 378, C:/Users/User/GitHub/cmn/src/scss/styles.scss */
  .footer-copyright {
    font-size: 16px;
    padding: 10px 0 0; } }

/*# sourceMappingURL=styles.css.map */